<?xml version="1.0"?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="csUnit.Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
   </startup>
   <userSettings>
      <csUnit.Runner.Properties.Settings>
         <setting name="MainFormSize" serializeAs="String">
            <value>432, 400</value>
         </setting>
         <setting name="MainFormLocation" serializeAs="String">
            <value>50, 50</value>
         </setting>
         <setting name="AskForSafeOnModifiedUntitled" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="StartupLoadItem" serializeAs="String">
            <value>Nothing</value>
         </setting>
         <setting name="StatusBarVisible" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="ToolBarVisible" serializeAs="String">
            <value>True</value>
         </setting>
      </csUnit.Runner.Properties.Settings>
   </userSettings>
   <system.diagnostics>
      <!--
      Please use the following switches only if requested by the csUnit team to
      diagnose runtime issues.
      By default all switches are set to off (= 0). Other values are:
         1 = Error
         2 = Warning
         3 = Info
         4 = Verbose
      Remarks: 
      - By default we try to avoid the use of tracing. However, we have
        encountered issues that we were unable to reproduce. The switches should
        be used only in those rare cases. 
      - If you use the switches in other cases you do so on your own risk. Be 
        aware that log files can potentially become very large.
      - If tracing is enabled log files will be writen to the "My Documents"
        folder (= "Documents" on Vista). For non-English system look in the
        respective place. Log files are created in this folder because this
        is the most likely place to have write permissions.
      -->
      <switches>
         <!--
         The General switch is for all non-specific messages.
         -->
         <add name="General" value="0"/>
      </switches>
   </system.diagnostics>
   <!-- 
   <system.windows.forms jitDebugging="false" />
   -->
   <runtime>
      <!-- Don't kill application on first uncaught exception.
         We don't want the test runner to terminate itself unexpectedly
         without reporting the test failure associated with that exception. -->
      <legacyUnhandledExceptionPolicy enabled="0"/>
   </runtime>

   <!-- To avoid FileLoadException due to mixed mode assemblies targeting older
   .NET versions, e.g. 2.0, and that are used by systems under test we need to
   use the old runtime activation policy: -->
   <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
   </startup>
</configuration>
